.container{
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #5353cb;
    color: #fefae0;
    width: 800px;
    height: 650px;
    border-radius: 20px;
    padding: 1%;
    margin-top: 3%;
}

.grid-item{
    margin: 5px;
    background-color: #d0d0fa;
}

#new-game{
    margin-top: 10px;
}