.container{
    text-align: center;
}

#start-game{
    margin-top: 10px;
    background-color: #976fbe;
    color: #fefae0;
}

.background{
    background-color: #e0d7fa;
    font-family: "Gill Sans Ultra Bold", serif;
}

.navbar{
    background-color: #976fbe;
}

#title{
    font-size: 30px;
}

#c4-rule{
    margin-top: 100px;
}

ul{
    text-align: center;
    list-style-position: inside;
}

.rule-tag{
    text-decoration-line: underline;
}


/*
C1CAD6 - French Gray
D4ADCF - Pink Lavender
856084 - Chinese Violet
B1A1B4 - Rose Quartz
DDE1E4 - Platinum
5a189a
d4d0d9
*/