/*
#976fbe
#e0d7fa
*/

#body {
    background: #e0d7fa;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Gill Sans Ultra Bold", serif;
}

.spacer {
    margin: 70px
}

.navbar{
    background-color: #976fbe;
}

#title{
    font-size: 30px;
}

.playGame{
    margin-top: 10px;
    background-color: #976fbe;
    color: #fefae0;
}

.card{
    margin-top: 100px;
}

#c4Card{
    margin-bottom: 100px;
}

.card-title{
    align-content: start;
}

#rpsGame{
    margin-top: 130px;
}
/*#tttGame {*/
/*    padding-top: 200px;*/
/*}*/