
#body {
    font-family: "Gill Sans Ultra Bold", serif;
    background: #e0d7fa;
}
h1{
    font-family: "Gill Sans Ultra Bold", serif;

}

.rules {
    background: #976fbe;
}

.playButtons{
    margin-top: 10px;
    background-color: #976fbe;
    color: #fefae0;
}

.center {
    align-content: center;
    text-align: center;
    align-items: center;
}

.centerText{
    text-align: center;
    align-content: center;
}



.navbar{
    background-color: #976fbe;
}


#title{
    font-size: 30px;
}

.spacer {
    margin: 100px;
}

.spacer2 {
    margin: 20px;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.rule-tag{
    text-decoration-line: underline;
}