.container{
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #976fbe;
    color: #fefae0;
    width: 800px;
    height: 650px;
    border-radius: 20px;
    padding: 1%;
    margin-top: 3%;
}

.grid-item{
    margin: 5px;
    background-color: #eaeaf1;
}

#new-game{
    margin-top: 10px;
    background-color: #976fbe;
    color: #fefae0;
}

.background{
    background-color: #e0d7fa;
    font-family: "Gill Sans Ultra Bold", serif;
}

.navbar{
    background-color: #976fbe;
}

#title2{
    margin-top:70px;
}

#title{
    font-size: 30px;
}

/*
C1CAD6 - French Gray
D4ADCF - Pink Lavender
856084 - Chinese Violet
B1A1B4 - Rose Quartz
DDE1E4 - Platinum
5a189a
d4d0d9
*/