body {
    background-color: #e0d7fa;
    font-family: "Gill Sans Ultra Bold", serif;
    text-align: center;
}

#rockimg{
    width: 225px;
}
#displayComp {
    border: 1px solid red;
    height: 100px;
    float: left;
    width: 45%;
}
#displayPlayer {
    border: 1px dotted blue;
    height: 100px;
    float: right;
    width: 45%;
}

.navbar{
    background-color: #976fbe;
}
#space{
    margin: 100px;
}

#start-game{
    margin-top: 10px;
    background-color: #976fbe;
    color: #fefae0;
}

#title{
    font-size: 30px;
}

#c4-rule{
    margin-top: 100px;
}

ul{
    text-align: center;
    list-style-position: inside;
}

.rule-tag{
    text-decoration-line: underline;
}

